pipeline/Ingest contoso views.json
{
	"name": "Ingest contoso views",
	"properties": {
		"activities": [
			{
				"name": "List all views",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  S.name SchemaName, O.name Tablename\n     \nFROM Sys.Objects O INNER JOIN Sys.Schemas S\n     ON O.schema_id = S.schema_id\nWHERE       O.type = 'V' and s.name not in ('dbo')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OnPremSQLlistallviews",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "process each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List all views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List all views').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().Schemaname,'.',item().Tablename)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPremSQLlistallviews",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CreateParquetFiles",
									"type": "DatasetReference",
									"parameters": {
										"Schemaname": {
											"value": "@item().Schemaname",
											"type": "Expression"
										},
										"Tablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}