pipeline/Ingest_contoso_sales.json
{
	"name": "Ingest_contoso_sales",
	"properties": {
		"activities": [
			{
				"name": "List all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select\ns.name as Schemaname,\nt.name as tablename\nfrom sys.tables t\ninner join sys.schemas s\non t.schema_id =s.schema_id\nwhere s.name='dbo' and t.name not in ('sysdiagrams')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OnPremSQLServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract and load all contoso tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List all tables').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}